body { padding:0; }
#bs-example-navbar-collapse-1 { max-width:1024px; margin: 0 auto; }
.navbar {margin-bottom:0;}
.nav .glyphicon {color:white;}
input { margin:1em; padding:.75em; border:none; border-bottom:1px solid #CDCDCD; opacity:.5}
input:hover { border:none; opacity:1}

.filter-number { margin:0; color:white; font-size:36px; }

button { border:none; }
button:hover { border:none;}

.skinny { max-width: 600px; }

#login { float:left; }

form[name='addpenalties'] { text-align:right; }

.number-circle {
    border-radius:50%;
    width:1.5em;
  /*  height:87px;
    padding: 8px;*/

    color: #666;
    text-align:center;
    border: 2px solid #666;
    font-size:1.4em;
	display:inline-block;
	margin-right:.5em;
    /* margin:.25em; */
}

#content-block { position:relative; min-height:100%; padding:1em; }
#content-block.not-active { display:none; }
#content-block.active {display:block;}

.pic-100 { border-radius:100px; height:100px; width: 100px; }
.pic-60 { border-radius:60px; height:60px; width: 60px; }

.pic-100-label { margin: 40px 10px;}

.container { max-width:1024px; }

.buttonWrapper, #newGoalPage .buttonWrapper { max-width: 1024px; margin: auto; padding: 30px 0px; position: relative;
}
.goalsButton { display: inline-block; padding: 20px 0px 20px 0px;
}
.goalsTitle, #newGoalPage .goalsTitle { display: inline; color: rgb(142,69,37); padding: 0px 20px;  font-family: 'CreteRound-Regular', serif; font-weight: normal; font-size: 22px;
}
.goalsCreate { background-color: rgb(142,69,37); display: inline-block; width: 190px; padding: 10px; position: absolute; right: 20px; top:40px;
}
.goalsCreate a { text-decoration: none;  
}
.goalTitle { font-size: 20px;
}
.goalTitle:hover { color: #247671;
}
.fa-plus-circle { color: rgb(243,140,100);
}
.createLabel { color: rgb(243,140,100); display: inline; font-size: 18px; margin-left: 10px;
}
.goalsCreate:hover { background-color: gray;
}
.goalsCreate:hover .createLabel, .goalsCreate:hover .fa-plus-circle { color: #fff;}
.goal { padding: 30px; border-bottom: 2px solid #CDCDCD; position: relative;
}
.divRight { display: inline-block; margin-left: 50px;width:60%;
}
.goalDescription { text-overflow:ellipsis; overflow:hidden; white-space:nowrap;
}
.goalEndDate { margin-left: 10px; padding-top: 16px; font-size: 15px; text-align: center;
}
.addIcon { display: inline-block; margin: 0 10px;
}
.friendIconDiv { width: 58px; height: 58px; border-radius: 40px; background-color: #999; display: inline-block;
}
.leftWrapper { width: 65%; display: inline-block;
}
.rightWrapper { width: 30%; display: inline-block; vertical-align: middle; margin-top: -30px;
}
.divLeft {width: 90px; height: 90px;padding: 10px 10px 0 0; border-radius: 50px; display: inline-block;
}

/* Brainstorms */
#brainstorms #profileHeader { background-color: rgb(246,122,70); }
#brainstorms .divLeft { background-color:rgb(246,122,70); }

/* Goal Tree Lite (need a better name than that) */
.filter-box { opacity:.5; padding:2em; cursor:pointer; }

.filter-box.active { opacity:1;}
.task-box { 
    color:black; 
    padding:1em; 
    border-top:solid;
    border-left:solid;
}
.task-box h2 { margin:0;}
.task-tile {display:none;}
.task-tile.active { display:block; }

#filter-box-container {
    margin-top:3em;
}

#task-date {
    display:none;
}
.task-box:hover #task-date {
    display:block;
}

/* profile header (the thing under the nav bar) */
#profileHeader h1 {
    color:white;
    line-height:2em;
}

#profileHeader .media-body {
    padding: 4em 2em;
}
#profileHeader{
    background-color:rgb(128,128,128);
    padding:1em;
    width:100%;
    max-width:none;
    height:12em;
}
#profileHeader .media{
    width:1024px;
    display:block;
    margin:0 auto;
    padding:0 1em;
}


/* new brainstorm styles */
#newbs input, #newbs form {
    width:100%;
}
