<html>
<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Mesh</title>
    {% endif %}

    <meta charset='utf-8'>
    <title>Mesh | Home</title>
    <meta name='author' content='Aaron Kosel, Ying Ying Liu, Sanmeet Kanhere, Edgar Nunez'><meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='description' content=''>
    <link href='/static/icons/favicon.ico' rel='icon' type='image/x-icon' />
    <!-- CSS & JS
     ================================================== -->
    <link href='/static/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
    <link href='/static/css/basestyle.css' rel='stylesheet'>
    <link href='/static/css/styles.css' rel='stylesheet'>
    <link href='/static/css/extra-styling.css' rel='stylesheet'>
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
    <link href="/static/css/stylesheet.css" rel="stylesheet" media="screen">
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>    
    <script src='/static/bootstrap/js/bootstrap.min.js'></script>
    <script src='/static/js/underscore.min.js'></script>


</head>
 <!--[if lt IE 7 ]><body class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><body class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><body class="ie ie8" lang="en"> <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!--><body id="{% block pageid %}{% endblock %}" lang="en"> <!--<![endif]-->

    <nav class='navbar navbar-inverse navbar-static-top' role='navigation'>
        <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle navbar-left' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1'>
             <span class='sr-only'>Toggle navigation</span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
            </button>
        <a class='navbar-brand' href='/'>Mesh</a>
        </div>
            <ul class='nav navbar-nav'>
                <li><a href='/'>Dashboard</a></li>
                <li><a href='/goals'>Goals</a></li>
                <li><a href='/friends'>Friends</a></li>
                <li><a href='/brainstorms'>Brainstorms</a></li>
            </ul>
         <ul class='nav navbar-nav navbar-right' id='back'>
          <li><a href='/logout'>Signout</a></li>
         </ul>  
        </div><!-- /.navbar-collapse -->
    </nav>



{% block content %}{% endblock %}

    <nav class='navbar navbar-inverse navbar-fixed-bottom' role='navigation'>
        <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
        <div class='navbar-header'>
           <p class='navbar-text'><b>Mesh &copy2014</b>
           <br>Made in Michigan. Go Blue!</p>
        </div>
         <ul class='nav navbar-nav navbar-right'>
         <li><a href='/home.html'></a><span class='glyphicon glyphicon-star'></span></li>
         <li><a href='/home.html'></a><span class='glyphicon glyphicon-thumbs-up'></span></li>
         <li><a href='/home.html'></a><span class='glyphicon glyphicon-user'></span></li>
         </ul>  
        </div><!-- /.navbar-collapse -->
    </nav>

<!-- End Document
================================================== -->
</body>
</html>
