{% extends "base.html" %}

    {% block pageid %}dashboard{% endblock %}

    {% block content %}
    <div id='wrapper'>
    <div class='container' id='profileHeader'>
        <div class='media'>
            <a class="pull-left" href="#">
		<img id="propic" src={{ user.picture }} class="pic-100 media-object" alt="pumpkinstin"/>
            </a>
            <div class="media-body">
                <h4 id="name" class="media-heading">{{ user.name }}</h4>
            </div>
        </div>
    </div>
    
    <div class='container' id='rowContainer'>
        <div class='col-md-12' id='wrapper'>
            <div id='activityFeedContainer' class='col-md-8'>
                <div id='activityFeed' class='col-md-10 pull-right'>
                <h4 style='margin-left:.25em;'>Activity Feed</h4>
                {% for item in user.feed|sort(attribute='timestamp',reverse=True) %}
                    {% if item.user != user %}
                    <div class='container'>
                        <div class='media'>
                            <a class='pull-left' href='#'>
                                <img class='pic-60 media-object' src={{ item.user.picture }}></img>
                            </a>
                            <div class='media-body col-md-6'>
                                <h4 class='media-heading media-heading-bold'>{{ item.name }}</h4>
                                <p>{{item.message}}</p>
                                <h5 class='activityFeedDate'>{{ item.timestamp.strftime('%B %d at %H:%M %p') }}</h5>
                            </div>

                                {% if item.goal or item.task %}
                                    <div class='media-body col-md-4'>

                                        <a class='pull-right' href='{{ url_for('goaltree',goalid=item.goal.id)}}'><i class='fa fa-3x fa-arrow-circle-right'></i></a> 

                                    </div>
                                {% elif item.brainstorm %}
                                    <div class='media-body col-md-4'>

                                        <a class='pull-right' href='{{ url_for('conversation',bsid=item.brainstorm.id) }}'><i class='fa fa-3x fa-arrow-circle-right'></i></a>
                                    </div>
                                {% endif %}


                        {% if item.feed_item_type == 'BrainstormRequest' and item.brainstorm not in user.brainstorms %}
                            <div id="{{item.type}}" class='col-md-10 pull-left btn-container'>
                                <a href="{{ url_for('joinbrainstorm',bsid=item.brainstorm.id)}}">
                                    <button id="{{ item.id }}" class='menu-btn push-right accept'>Accept</button>
                                </a>
                                <a href="{{ url_for('removebsfeeditem',bsid=item.brainstorm.id)}}">
                                    <button id="{{ item.id }}" class='menu-btn push-right reject'>Reject</button>
                                </a>
                            </div>
                        {% elif item.feed_item_type == 'BrainstormRequest' and item.brainstorm in user.brainstorms %}
                            <div id="{{item.type}}" class='col-md-10 pull-right btn-container'>
                                <p>You joined the brainstorm!</p>
                            </div>
                        {% elif item.feed_item_type == 'GoalRequest' %}
                            <div id="{{item.type}}" class='pull-left btn-container'>
                                <a href="{{ url_for('joingoal',goalid=item.goal.id)}}">
                                    <button id="{{ item.id }}" class='menu-btn push-right accept'>Accept</button>
                                </a>
                                <a href="{{ url_for('newbrainstorm')}}">
                                    <button id="{{ item.id }}" class='menu-btn push-right brainstorm'>Brainstorm</button>
                                </a>
                                <a href="{{ url_for('removefeeditem',goalid=item.goal.id)}}">
                                    <button id="{{ item.id }}" class='menu-btn push-right reject'>Reject</button>
                                </a>
                            </div> 
                        {% endif %}

                        <!-- <i class='fa fa-check'></i>-->
                    </div> 
                    </div>
                {% endif %}
                {% else %}
                    <h1>Nothing to report. Add a goal and find some friends to get started!</h1>
                
                {% endfor %}
                </div><!-- end activityFeed -->
            </div><!-- end activityFeedContainer -->
            <div id='toDoListContainer' class='col-md-4'>
                <h4 style='margin-left:.25em;'>To Do</h4>

                <div id='toDoList' class='col-md-8'>
                    {% for task in todo %}
                        <div class='container' id= 'list-item'>
                            <div class='media'>
                                <i class='fa-media-object fa fa-square-o fa-4x' id={{task.id}} label={{task.goalid}}></i>
                                <div class='media-body'>
                                     <h5 class='toDoDate'>{{ task.end|datetimeformat }}</h5>
                                    <h4 id={{task.id}} class='media-heading media-heading-bold'>{{task.name}}</h4>
                                </div>
                            </div>
                            <div id='shareForm{{task.id}}' style="display:none">
                                <textarea class='form-control' placeholder='Say something about this!' rows=3></textarea>
                                <button type='button' class='menu-btn btn-brown share-btn' id='shareButton'>Share</button>
                                <button type='button' id='notNow' class='menu-btn notnow-btn'>Not Now</button>
                            </div>
                        </div>

                        {% else %} 
                        <a href="/newgoal">
                            <div class="goalsCreate">
                                <i class="fa fa-plus-circle"></i><p class="createLabel">Add a Goal</p>
                            </div>
                        </a>
                    {% endfor %}
                </div> <!-- end toDoList -->    
            </div> <!-- end toDoList Container -->
        </div><!-- end rowContainer -->
    </div> <!--end wrapper --> 
    {% endblock %}	
{% block scripts %}
$(document).on('click','#shareButton',function(){
       console.log($(this).prev().attr('label'));
    })
$(document).on('click','button.notnow-btn',function(){
    console.log('click');
    url = '/completetask/' + $(this).prev().prev().attr('label') + '/' + $(this).prev().prev().attr('id');
})
$(document).on('click','.fa-square-o',function() {
    $(this).removeClass('fa-square-o');
    $(this).addClass('fa-check-square-o');
    taskid = $(this).attr('id');
    $('#shareForm'+taskid).toggle();
});
$(document).on('click','.fa-check-square-o',function() {
    $(this).removeClass('fa-check-square-o');
    $(this).addClass('fa-square-o');
    taskid = $(this).attr('id');
    $('#shareForm'+taskid).toggle();
});
$(document).ready(function(){
    $('#toDoListContainer').css('height', $('#wrapper').css('height'));
});
{% endblock %}
