{% extends "base.html" %}

{% block pageid %}goalsPage{% endblock %}
{% block content %}
	<!-- <div class='starter-template'> -->
		<div class='wrapper' id='goalsbar'>
			<div class="buttonWrapper">
				<div class="goalsButton" >
					<h3 class="goalsTitle active" id="myGoals">My Goals</h3>
				</div>
				<div class="goalsButton">
					<h3 class="goalsTitle" id="completedGoals">Completed Goals</h3>
				</div>
				<div class="goalsButton">
					<h3 class="goalsTitle" id="missedGoals">Goal Requests</h3>
				</div>
                <a href="/newgoal">
                    <div class="goalsCreate">
                        <i class="fa fa-plus-circle"></i><p class="createLabel">Create New Goal</p>
                    </div>
                </a>
			</div>
		</div>
		<div class='mainWrapper'>
            <div id='content-block' class='active myGoals container'>
            {% for goal in goals %}
                {% if goal.feed_item_type != 'Task' %}
                    <div class='goal'>
					    <div class="leftWrapper">
                            <div class="divLeft">
                                <p class="goalEndDate">{{goal.end|datetimeformat}}</p>
                            </div>
                            <div class="divRight">
                                <a href="/goals/{{goal.id}}"><h4 class="goalTitle">{{goal.name}}</h4></a>
                                <p class="goalDescription">{{goal.description}}</p>
                            </div>
                        </div>
                        <div class="rightWrapper">
                                {% for person in goal.people %}
                                <div class="friendIconDiv">
                                    <img src={{person.picture}} class="friendIcon">
                                </div>
                                {% endfor %}
                        </div>
                    </div>		
                {% endif %}
            {% endfor %}
            </div>
            <!-- initially hidden, but activated on click. See jquery in scripts -->
            <div id='content-block' class='missedGoals not-active'>
            {% for goal in requests %}
                {% if goal.feed_item_type != 'Task' %}
                    <div class='goal'>
					    <div class="leftWrapper">
                            <div class="divLeft">
                                <p class="goalEndDate">{{goal.end|datetimeformat}}</p>
                            </div>
                            <div class="divRight">
                                <a href="/goals/{{goal.id}}"><h4 class="goalTitle">{{goal.name}}</h4></a>
                                <p class="goalDescription">{{goal.description}}</p>
                            </div>
                        </div>
                        <div class="rightWrapper">
                                {% for person in goal.people %}
                                <div class="friendIconDiv">
                                    <img src={{person.picture}} class="friendIcon">
                                </div>
                                {% endfor %}
                        </div>
                    </div>		
                {% endif %}
            {% endfor %}
            </div>
            <div id='content-block' class='completedGoals not-active'>
            {% for goal in completedGoals %}
                {% if goal.feed_item_type != 'Task' %}
                    <div class='goal'>
					    <div class="leftWrapper">
                            <div class="divLeft">
                                <p class="goalEndDate">{{goal.end|datetimeformat}}</p>
                            </div>
                            <div class="divRight">
                                <a href="/goals/{{goal.id}}"><h4 class="goalTitle">{{goal.name}}</h4></a>
                                <p class="goalDescription">{{goal.description}}</p>
                            </div>
                        </div>
                        <div class="rightWrapper">
                                {% for person in goal.people %}
                                <div class="friendIconDiv">
                                    <img src={{person.picture}} class="friendIcon">
                                </div>
                                {% endfor %}
                        </div>
                    </div>		
                {% endif %}
            {% endfor %}
            </div>
        </div>


{% endblock %}
{% block scripts %}
//Handle different goal lists.
$('.goalsTitle').click(function(){
    $('.goalsTitle.active').removeClass('active');
    $(this).addClass('active');
    
    id = $(this).attr('id');

    $("#content-block.active").removeClass('active').addClass('not-active');
    $("." + id).addClass('active').removeClass('not-active');

});
{% endblock %}
