<!DOCTYPE html>
<html lang="en">
    <head>

    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <link href='/static/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
     <link href="/static/css/basestyle.css" rel="stylesheet" type="text/css">
     <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
     <link href="/static/css/styling.css" rel="stylesheet" type="text/css">
    </head>

 <!--[if lt IE 7 ]><body class="ie ie6" lang="en" id="homePage"> <![endif]-->
<!--[if IE 7 ]><body class="ie ie7" lang="en" id="homePage"> <![endif]-->
<!--[if IE 8 ]><body class="ie ie8" lang="en" id="homePage"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><body lang="en" id="infoPage"> 
    <div class='container col-md-12'>
        <div class='col-md-11'>
            <h1 style='font-size:40px; margin-left:20px;'>The Mesh Process</h1>
        </div>
        <div class='col-md-1'>
            <a href='/'>Home</a>
        </div>

        <div class='pull-left col-md-12'>
        <ol>
            <li>
				<div class='number-circle'>1</div>Think of a person who you want to stay in touch with
<!--				<ul>
					<li style='margin-left:5em; font-size:.8em;'>
						Maybe it's someone that move away recently.	
					</li>
                </ul>-->
			</li>
            <li><div class='number-circle'>2</div>Come up with something both of you like to do</li>
            <li><div class='number-circle'>3</div>Create a goal and send it to your friend</li>
            <li><div class='number-circle'>4</div>Add measurable tasks that move towards completing goal</li>
            <li><div class='number-circle'>5</div>Set penalties for failing to complete tasks. Or don't</li>
            <li><div class='number-circle'>6</div>Complete your goal and build relationships in a meaningful way</li>
        </ol>
    </div>

    </div>


</body>
</html>
