<!DOCTYPE html>
<html lang="en">
    <head>

    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
     <script src='static/js/preloader.js'></script>
     <link href="static/css/styling.css" rel="stylesheet" type="text/css">
    </head>

 <!--[if lt IE 7 ]><body class="ie ie6" lang="en" id="homePage"> <![endif]-->
<!--[if IE 7 ]><body class="ie ie7" lang="en" id="homePage"> <![endif]-->
<!--[if IE 8 ]><body class="ie ie8" lang="en" id="homePage"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><body lang="en" id="homePage"> <!--<![endif]-->

	<!-- <div class='starter-template'> -->
		<div class='jumbotron' id="welcome">
			<div class='container'>
				<div class="welcome" id="two-thirds">
                	<h1 id="welcome">Welcome to Mesh</h1>
					<br>
					<p id="welcome">Mesh encourages people to stay connected with close friends over long distances. From hundreds of miles apart, friends can set and complete goals together while providing each other with mutual support. 
					</p>
					<br>
                    <div id="login"><a href="/loginner" id="login-button">Login with Google</a></div>
                </div>
			</div>
		</div>
	<!-- </div> -->
<!-- End Document
================================================== -->
</body>
</html>
